<% include partials/index-head.ejs %>
<head>
  <title>Hello </title>
</head>

<% include partials/user-header.ejs %>

<body class="user">
  <div class="user-profile-wrapper">
    <h2> <img src="../../static/img/profile.jpg" alt=""> </h2>
    <section>
      <h3>Hi, <%=name%> </h3>
      <article class="user-info-wrapper">
        <h4>My info</h4>
        <div class="user-info-details">
          <ul>
            <li>Name:</li>
            <li>Age:</li>
            <li>Sex:</li>
            <li>Looking for:</li>
          </ul>

          <ul>
            <li><%=name %> </li>
            <li><%=age %></li>
            <li><%=gender %></li>
            <li><%=preference %></li>
          </ul>
        </div>

      </article>

      <article class="user-games">
        <h4>My Gamess</h4>
        <% for (let i = 0; i < interests.length; i++) { %>
        <p><%=interests[i] _%></p>
        <% } %>
      </article>
    </section>

  </div>

</body>
